extends ../layout

block content
  div
    p Imię: #{hairdresser.first_name}
    p Nazwisko: #{hairdresser.last_name}
    p Telefon: #{hairdresser.phone_number}
    p Email: #{hairdresser.email}
    p Zatudniony od: #{hairdresser.employment_date}
    p Data urodzenia: #{hairdresser.birth}
    p Notatki: #{hairdresser.notes}
    p Hasło: #{hairdresser.password}

  div
    a(href=hairdresser.url+'/update') Edytuj dane
  div
    a(href=hairdresser.url+'/delete') Usuń tego fryzjera z bazy danych