extends ../layout

block content
  div
    p Nazwa: #{service.name}
    p Dla kogo: #{service.gender}
    p Średni czas wyk.: #{service.approx_time}
    p Cena: #{service.price}

  div
    a(href=service.url+'/update') Edytuj dane
  div
    a(href=service.url+'/delete') Usuń ten rodzaj usługi